.App {
  width: 100%;
  max-width: 328px;
  margin: auto;
  background-color: #3c3c3c;
  padding: 15px;
  color: #fff;
}
.keypads {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 64px);
  grid-gap: 15px;
  margin-top: 15px;
}
.keypads button {
  border-radius: 20px;
  border: none;
  outline: none;
  background: #292929;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  box-shadow: 2px 2px 5px #000000;
}
.keypads button:focus {
  box-shadow: none;
}
.keypads button:last-child {
  grid-column: 3/5;
  background-color: #676767;
}
.keypads button:nth-child(4n) {
  background-color: #676767;
}
.keypads button:nth-child(4) {
  background-color: #bf360c;
}
.keypads button:first-child {
  background-color: #ff6f00;
}
.calculator-result {
  min-height: 56px;
  text-align: right;
  font-size: 39px;
}
